<div class="container">
    <!-- <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4 text-center">
            <h1>TIME</h1>
        </div>
        <div class="col-xs-4"></div>
    </div> -->
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4 text-center">
            <mat-slider min="1" max="100" step="1" value="30" #timeTextValue></mat-slider>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <p [ngStyle]="{'font-size': paragraphFontSize}">{{minutes_minutes | number:'2.0'}}:{{minutes_seconds | number:'2.0'}}</p>
        </div>
    </div>
    <div class="row" style="padding: 10px;">
        <div class="col-xs-12">
            <app-timer-item (newTimerItemEvent)="newTimerAdded($event)" *ngIf="!activity_loaded"></app-timer-item>
        </div>
    </div>
    <div class="row" style="padding: 10px;">
        <div class="col-xs-4">
            <app-timer-list (loadActivityEmit)="loadNewActivity($event)"></app-timer-list>
        </div>
        <div class="col-xs-2">
            <mat-checkbox (change)="onChangePenaultyCheckbox($event)" [checked]="chkboxPenaltyTime">
                Use penalty timer
            </mat-checkbox>
            <button class="btn btn-primary btn-block" (click)="onStart()" #startButton>
                Start
            </button>
            <!-- <input type="number" class="form-control" [(ngModel)]="initialSetTimeMinutes" step="1" pattern="\d+" value="1" placeholder="minutes"> -->
        </div>
        <div class="col-xs-2">
            <mat-checkbox (change)="onChangeAutoTimerCheckbox($event)" [checked]="chkboxAutoTimer">
                Auto start next timer
            </mat-checkbox>
            <button class="btn btn-danger btn-block" 
                (click)="onStop()" #stopButton disabled>
                Stop
            </button>
            <!-- <button class="btn btn-primary btn-block set_time" (click)="onSetTime()">Set Time!</button> -->
            
        </div>
        <div class="col-xs-4">            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <p (click)="toggleShowHideInstructions()">Click to Show/Hide instructions</p>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <div class="row" style="padding: 10px;">
        <div class="col-xs-12">
            
            <div *ngIf="showInstructions">
                <pre>
                    ~Instructions~
1. Slider
- Use slider to increase or decrease the timer font-size

2. Adding an activity - Single timer
- Choose a timer type from the dropdown, enter minutes and click Add
- This will add a new timer to the activity (Timer list)
- Click 'Load Activity' to load the timer into the main timer
- Click 'Start' and 'Stop' to manage the timer

3. Adding an activity - Multiple timers
- Choose a timer type from the dropdown, enter minutes and click Add
- Repeat this as many time as you like
- This will add new timers to the activity (Timer list)
- Click 'Load Activity' to load all the timers into the main timer
- Click 'Start' and 'Stop' to manage the timers

4. Upload an activity
- Upload a .txt file of type {{json_type}}                    
- This will automatically load all the timers as specified in your template
- Click 'Load activity' and use timer as usual

5. Save activity to a file
- Enter a prefered file name 
- And click 'Save activity' to save your activity to a file,
  to upload it later if needed

6. Load activity
- Click 'Load activity' to load the timers into the main timer

7. Use penalty timer - Checked 
- When a timer is running and you clicked Stop, 
  an internal timer will count the 'away' time
- When you are back to focus and clicked Start, 
  the 'away' time will be re-added back to the original timer
- (TBD) This will impact the efficiency calculation of your activity

8. Use penalty timer - Unchecked
- No 'away' time is added whenever you stop the clock

9. Auto start next timer - Checked
- Runs through all the timers in the activity are exhausted

10. Auto start next timer - Unchecked 
- Manually start each timer after completion
                    
                </pre>
            </div>
        </div>
    </div>
</div>